/* utility  class  */
.contacts img, .user-part img, .account-part img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.contacts span, .user-part span, .account-part span {
    vertical-align: middle;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
}

.icon {
    display: inline-block;
    cursor: pointer;
}
.flex.space-between{
    display: flex;
    justify-content: space-between;
}
.flex.align-center {
    display: flex;
    align-items: center;    
}

.h100 {
    height: 100%;
}

.time {
    text-align: right;
    margin-top: 4px;
    font-size: 10px;
    color: #b7b9bb;
}

input:focus {
    outline: none;
}

.hover:hover {
    background-color: #dcf8c0;
}

/* end utility class  */
body {
    background-image: linear-gradient(to bottom, #419388 15%, #dddbd2 15% , #d4dbdc);
    font-family: 'Roboto', sans-serif;
}

.main-app {
    margin-top: 24px;
    margin-bottom: 24px;
    height: calc(100vh - 48px);
    background-color: #fafafa;
}

/* aside-part  */
.aside-part {
    background-color: #f7f7f7;
    height: 100%;
}

/* .user-part */
.user-part {
    background-color: #eaeaea;
}

.user-part .icon {
    line-height: 50px;
    font-size: 18px;
    color: #b1b1b1;
}

.user-part .icon:last-of-type {
    margin-right: 12px;
}

.user {
    cursor: pointer;
}

/* notification part  */
.notification {
    background-color: #9fd8f8;
}

.notification .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f4fbfe;
    color: #9fd8f8;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.notification .title {
    font-size: 14px;
    font-weight: 700;
}

.notification .active {
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
}

/* serch part  */
.serch {
    background-color: #ffffff;
    border-radius: 12px;
}

.serch .serch-icon {
    color: #757575;
}

.serch input {
    /* 12 perchè non mi renda rettangolare la forma */
    width: calc(100% - 12px); 
    border: none
}

.serch input::placeholder {
    color: #757575;
}

.serch input:active {
    border: none;
}


/* contacts part  */
.contacts-parte {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.contacts {
    background-color: #ffffff;
    border-radius: 12px;
}

.contacts .user {
    margin-top: 12px;
}

/* ricorda di fare la scroll */


/* central-part  */
.central-part {
    border-left: 2px solid #e4e4e4;
    background-color: #f2eeea;
    height: 100%;
}

/* account-part  */
.account-part {
    background-color: #eaeaea;
}

.account-part .icon {
    line-height: 50px;
    font-size: 18px;
    color: #b1b1b1;
}

.account-part .icon:last-of-type {
    margin-right: 12px;
}

/* message part  */
.message-part {
    height: calc(100% - 116px);
    background: url(../img/mine.jpg);
    overflow-y: auto;
}
.message-part .utent-message {
    padding: 12px;
    background-color: #dcf8c0;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 8px;
}

.message-part .account-message {
    padding: 12px;
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 8px;
}

.message-part .utent-message .icon-message {
    color: #95a486;
}

.message-part .account-message .icon-message {
    color: #b1b1b1;
}
.message-part .icon-message {
    position: relative;
    cursor: pointer;
}

.icon-message .option-message {
    color: #777777 ;
    position: absolute;
    width: 200px;
    background-color: white;
    padding: 8px;
    transform: translate(-100%);
    box-shadow: 2px 2px 10px #757575;
}



/* input part  */
.input-part {
    font-size: 18px;
    height: 50px;
}
.input-part input {
    width: 100%;
    border: none;
    border-radius: 4px;
}


.input-part input::placeholder {
    color: #757575;
    font-size: 12px;
}

.input-part i {
    color: #6c7376;
}