/* utility  class  */
.contacts img, .user-part img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.contacts span, .user-part span {
    vertical-align: middle;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
}

.icon {
    display: inline-block;
}
.flex.space-between{
    display: flex;
    justify-content: space-between;
}
.flex.align-center {
    display: flex;
    align-items: center;    
}

.h100 {
    height: 100%;
}

/* end utility class  */
body {
    background-image: linear-gradient(to bottom, #419388 15%, #dddbd2 15% , #d4dbdc);
    font-family: 'Roboto', sans-serif;
}

.main-app {
    margin-top: 24px;
    margin-bottom: 24px;
    height: calc(100vh - 48px);
    background-color: #fafafa;
}

/* aside-part  */
.aside-part {
    background-color: #f7f7f7;
}

/* .user-part */
.user-part {
    background-color: #eaeaea;
}

.user-part .icon {
    line-height: 50px;
    font-size: 18px;
    color: #b1b1b1;
}

.user-part .icon:last-of-type {
    margin-right: 12px;
}

/* notification part  */
.notification {
    background-color: #9fd8f8;
}

.notification .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f4fbfe;
    color: #9fd8f8;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.notification .title {
    font-size: 14px;
    font-weight: 700;
}

.notification .active {
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
}

/* serch part  */
.serch {
    background-color: #ffffff;
    border-radius: 12px;
}

.serch .serch-icon {
    color: #757575;
}

.serch input {
    width: calc(100% - 12px);
    border: none
}

.serch input::placeholder {
    color: #757575;
}

.serch input:active {
    border: none;
}




/* contacts part  */
.contacts-parte {
    height: calc(100% - 190px);
}

.contacts {
    background-color: #ffffff;
    border-radius: 12px;
}

.contacts .user {
    margin-top: 12px;
}